:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --dark-blue: hsl(218, 44%, 22%);
    --grayish-blue: hsl(220, 15%, 55%);
    --link-clr: hsl(216, 95%, 58%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Outfit', 'Arial', sans-serif;
    font-size: 10px;
}

body {
    background: var(--light-gray);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100dvh;
}

#qr-code-box {
    background: var(--white);
    width: 320px;
    height: 500px;
    border-radius: 20px;
    padding: 16px;
    box-shadow: 0px 10px 15px 0px rgba(123, 135, 157, 0.2);
}

img {
    display: block;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
}

h1, p {
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin: 2.5rem auto 1.6rem;
    font-size: 2.2rem;
    letter-spacing: 0.1px;
    color: var(--dark-blue);
}

p {
    margin: 0 1.2rem;
    font-size: 1.55rem;
    line-height: 1.9rem;
    color: var(--grayish-blue);
}

#attribution {
    width: fit-content;
    font-size: 1.2rem;
    text-align: center;
    color: var(--dark-blue)
}

a {
    text-decoration: none;
    color: var(--link-clr);
}

a:hover {
    text-decoration: underline;
}
